# Documentation files (specific files only)
DocumentationsFiles.txt
Step-by-step.txt
I've Learned Today.txt
postman and feature.txt
git.txt
.vscode/settings.json

# backend folder
backend/.env

*.pyc
__pycache__/
.pytest_cache


# frontend folder (Vite)
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/*.log

CLAUDE.md
.env
