# Documentation files (specific files only)
DocumentationsFiles.txt
Step-by-step.txt
I've Learned Today.txt
roadmap.txt
postman.txt


# backend folder
backend/.env
backend/migrations/test_queries.sql

*.pyc
__pycache__/


# frontend folder (Vite)
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/*.log

